<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.x.jk.mybatis.mapper.DeviceMapper">

    <resultMap id="DeviceInfo" type="com.x.jk.po.entity.DeviceInfo">
        <id property="id" column="id" />
        <result property="devName" column="dev_name"/>
        <result property="channleNum" column="channle_Num"/>
        <result property="devNum" column="dev_Num"/>
        <result property="schoolID" column="schoolId"/>
        <result property="state" column="state"/>
        <result property="url" column="url"/>
        <result property="imgUrl" column="imgurl"/>
        <result property="IOTitle" column="IOTitle"/>
    </resultMap>

    <select id="getAllBySchoolId" resultMap="DeviceInfo">
        select * from deviceinfo where schoolId=#{arg0} limit #{arg1},#{arg2}
    </select>

    <select id="getDevListBySchoolId" resultMap="DeviceInfo">
        select * from deviceinfo where schoolId=#{arg0} limit #{arg1},#{arg2}
    </select>
    <update id="UpdateDev" parameterMap="DeviceInfo">

    </update>



    <!--<delete id="deleteById" parameterType="java.lang.Integer">-->
        <!--delete from department where id = #{id}-->
    <!--</delete>-->
    <select id="getDeviceById" resultMap="DeviceInfo">
        select * from deviceinfo where id=#{id}
    </select>
    <select id="getDevCounts" resultType="java.lang.Integer">
        select count(*) from deviceinfo where schoolId=#{id}
    </select>

    <select id="getAllDevice" resultMap="DeviceInfo">
        select * from deviceinfo
    </select>

    <update id="updateDevImgUrl" parameterType="com.x.jk.po.entity.DeviceInfo">
        update  deviceinfo set imgurl = #{arg0} where id=#{arg1}
    </update>
</mapper>