<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.x.jk.mybatis.mapper.SchoolInfoMapper">

    <resultMap id="SchoolInfo" type="com.x.jk.po.entity.SchoolInfo">
        <id property="id" column="id" />
        <result property="schoolName" column="school_name"/>
        <result property="regionId" column="region_id"/>
    </resultMap>

    <select id="getAll" resultMap="SchoolInfo">
        select * from schoolinfo
    </select>
    <insert id="addSchool" parameterType="String">
        INSERT INTO schoolinfo(school_name,region_id) VALUES(#{name},1)
    </insert>

    <update id="updateSchool" parameterType="com.x.jk.po.entity.SchoolInfo">
        update schoolinfo set school_name=#{schoolName} where id=#{id}
    </update>

    <delete id="delById" parameterType="java.lang.Integer">
        delete from schoolinfo where id=#{id}
    </delete>

    <!--<delete id="deleteById" parameterType="java.lang.Integer">-->
        <!--delete from department where id = #{id}-->
    <!--</delete>-->
</mapper>